/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: none;
}

select {
  all: unset;
}

a {
  all: unset;
}

html, body, #root {
  width: 100%;
}

/*
font-size
*/
/*
Colors
*/
/*
fonts
*/
/*
buttons
*/
/*
Links
*/
/*
Parallax Background
*/
@-webkit-keyframes btnSlideRight {
  0% {
    transform: translateX(-410px);
    box-shadow: 0px 0px 5px 1px #ffffff;
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes btnSlideRight {
  0% {
    transform: translateX(-410px);
    box-shadow: 0px 0px 5px 1px #ffffff;
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes shadowPulse {
  0% {
    box-shadow: 0px 0px 5px 1px #ffffff;
  }
  25% {
    box-shadow: 0px 0px 12px 4px #ffffff;
  }
  50% {
    box-shadow: 0px 0px 16px 7px #ffffff;
  }
  75% {
    box-shadow: 0px 0px 12px 4px #ffffff;
  }
  10% {
    box-shadow: 0px 0px 5px 1px #ffffff;
  }
}
@keyframes shadowPulse {
  0% {
    box-shadow: 0px 0px 5px 1px #ffffff;
  }
  25% {
    box-shadow: 0px 0px 12px 4px #ffffff;
  }
  50% {
    box-shadow: 0px 0px 16px 7px #ffffff;
  }
  75% {
    box-shadow: 0px 0px 12px 4px #ffffff;
  }
  10% {
    box-shadow: 0px 0px 5px 1px #ffffff;
  }
}
@-webkit-keyframes hamburger-slideLeft {
  0% {
    transform: translateX(50rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@keyframes hamburger-slideLeft {
  0% {
    transform: translateX(50rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
body {
  background-color: black;
  line-height: 1.5;
}

.footer-container {
  background-color: black;
  width: 100%;
  height: 15vh;
  margin: auto 0;
}

.nav-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: hidden;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 10vh;
  position: relative;
  overflow: hidden;
}
.nav-container .nav-logo-wrapper {
  height: 90%;
  margin-left: 1rem;
}
.nav-container .nav-logo-wrapper .nav-logo {
  height: 100%;
  width: auto;
}
.nav-container .menu-desktop-nav-menu-container {
  display: none;
}
@media (min-width: 45rem) {
  .nav-container .menu-desktop-nav-menu-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    width: 80%;
    height: 90%;
  }
}
@media (min-width: 60rem) {
  .nav-container .menu-desktop-nav-menu-container {
    width: 60%;
  }
}
.nav-container .menu-desktop-nav-menu-container ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: hidden;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.nav-container .menu-desktop-nav-menu-container ul li a {
  cursor: pointer;
}
.nav-container .menu-desktop-nav-menu-container ul li a:hover {
  text-decoration: underline;
}
.nav-container .hamburger-button {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}
@media (min-width: 45rem) {
  .nav-container .hamburger-button {
    display: none;
  }
}

.nav-menu-closed {
  background-image: url("../images/svg/hamburger.svg");
  background-size: 3rem;
}

.nav-menu-open {
  background-image: url("../images/svg/cross.svg");
  background-size: 3rem;
}

.menu-mobile-nav-menu-container {
  display: none;
  background-color: black;
  width: 100%;
  min-height: 0.01rem;
  color: white;
  font-size: 2rem;
  text-align: left;
  transition: all ease-in;
  -webkit-animation: hamburger-slideLeft 0.3s linear;
          animation: hamburger-slideLeft 0.3s linear;
  width: 100%;
  position: absolute;
  z-index: 2;
}
@media (min-width: 30rem) {
  .menu-mobile-nav-menu-container {
    text-align: center;
    font-size: 2.5rem;
  }
}
.menu-mobile-nav-menu-container ul {
  width: 100%;
  padding-left: 1rem;
}
.menu-mobile-nav-menu-container ul li {
  margin: 1rem 0;
  width: 100%;
}
@media (min-width: 30rem) {
  .menu-mobile-nav-menu-container ul li {
    margin: 1.5rem 0;
  }
}
.menu-mobile-nav-menu-container ul li a {
  width: 100%;
}

.toggle-nav-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 80vh;
}
.hero-container .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/herobg.webp");
}
.hero-container .hero-left-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  justify-content: space-around;
  height: 90%;
}
@media (min-width: 60rem) {
  .hero-container .hero-left-section {
    width: 45%;
  }
}
.hero-container .hero-left-section .hero-text-wrapper {
  padding: 1rem;
}
.hero-container .hero-left-section .hero-text-wrapper .hero-heading {
  color: black;
  font-family: "RobotoSlab-VariableFont", Georgia, serif;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
@media (min-width: 30rem) {
  .hero-container .hero-left-section .hero-text-wrapper .hero-heading {
    font-size: 5rem;
  }
}
.hero-container .hero-left-section .hero-text-wrapper .hero-sub-text {
  color: black;
  font-family: "RobotoFlex-VariableFont", Tahoma, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
}
.hero-container .hero-left-section .call-to-action-wrapper {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: hidden;
  justify-content: flex-start;
  width: 100%;
}
.hero-container .hero-left-section .call-to-action-wrapper .call-to-action {
  color: white;
  font-family: "RobotoFlex-VariableFont", Tahoma, sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  text-align: left;
  padding: 0.5em 1em;
  background-color: #3d7578;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 2rem auto 2rem 1rem;
}
.hero-container .hero-left-section .call-to-action-wrapper .call-to-action::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(89, 174, 226, 0.5019607843);
  padding: 0.5em 1.5em;
  transform: translateX(-410px);
  transition: all ease-in-out 1.5s;
}
.hero-container .hero-left-section .call-to-action-wrapper .call-to-action:hover, .hero-container .hero-left-section .call-to-action-wrapper .call-to-action:focus {
  -webkit-animation: shadowPulse linear 3s infinite 0s forwards;
          animation: shadowPulse linear 3s infinite 0s forwards;
}
.hero-container .hero-left-section .call-to-action-wrapper .call-to-action:hover::before, .hero-container .hero-left-section .call-to-action-wrapper .call-to-action:focus::before {
  width: 100%;
  height: 100%;
  -webkit-animation: btnSlideRight linear 0.5s 0s forwards;
          animation: btnSlideRight linear 0.5s 0s forwards;
}
.hero-container .hero-left-section .call-to-action-wrapper .call-to-action:hover, .hero-container .hero-left-section .call-to-action-wrapper .call-to-action:focus {
  color: black;
}
@media (min-width: 45rem) {
  .hero-container .hero-left-section .call-to-action-wrapper .call-to-action {
    font-size: 2rem;
  }
}
.hero-container .hero-img-wrapper {
  display: none;
}
@media (min-width: 60rem) {
  .hero-container .hero-img-wrapper {
    display: block;
    width: 30%;
  }
}
.hero-container .hero-img-wrapper .hero-img {
  width: 100%;
  height: auto;
}

.section-one {
  background-color: white;
  width: 100%;
  min-height: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-around;
}
.section-one .section-one-heading {
  color: black;
  font-family: "RobotoSlab-VariableFont", Georgia, serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2rem 0;
}
.section-one .section-one-cards-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: hidden;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.section-one .section-one-cards-wrapper .section-one-card {
  width: 20rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  align-items: flex-start;
}
.section-one .section-one-cards-wrapper .section-one-card .section-one-card-img {
  height: 8rem;
  width: 8rem;
  margin: 0 auto;
}
.section-one .section-one-cards-wrapper .section-one-card .section-one-card-heading {
  margin: 2rem 0;
  color: black;
  font-family: "RobotoSlab-VariableFont", Georgia, serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.section-one .section-one-cards-wrapper .section-one-card .section-one-text {
  color: black;
  font-family: "RobotoFlex-VariableFont", Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.section-two-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}
.section-two-container .section-two-left-wrapper {
  padding: 1rem;
  width: 20rem;
}
.section-two-container .section-two-left-wrapper .section-two-heading {
  color: white;
  font-family: "RobotoSlab-VariableFont", Georgia, serif;
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 2rem auto;
}
.section-two-container .section-two-left-wrapper .section-two-text {
  color: white;
  font-family: "RobotoFlex-VariableFont", Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin: 1rem auto;
}
.section-two-container .section-two-right-wrapper {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
}
.section-two-container .section-two-right-wrapper .section-two-image {
  height: 100%;
  width: 100%;
}

.section-three-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: black;
  background-color: white;
}
.section-three-container .section-three-right-wrapper {
  padding: 1rem;
  width: 20rem;
}
.section-three-container .section-three-right-wrapper .section-three-heading {
  color: black;
  font-family: "RobotoSlab-VariableFont", Georgia, serif;
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 2rem auto;
}
.section-three-container .section-three-right-wrapper .section-three-text {
  color: black;
  font-family: "RobotoFlex-VariableFont", Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin: 1rem auto;
}
.section-three-container .section-three-left-wrapper {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
}
.section-three-container .section-three-left-wrapper .section-three-image {
  height: 100%;
  width: 100%;
}

.section-four-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-evenly;
}
.section-four-container .section-four-heading {
  color: white;
  font-family: "RobotoSlab-VariableFont", Georgia, serif;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 2rem auto;
}
.section-four-container .section-four-text-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  font-family: "RobotoFlex-VariableFont", Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}
.section-four-container .section-four-text-wrapper .section-four-text {
  margin: 1.5rem auto;
  width: 20rem;
}/*# sourceMappingURL=styles.css.map */